body{
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
}

.container-fluid{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 auto;
}
.ant-layout {
    background: #fff !important;
  }
  .mainLayout .ant-layout-header {
    background: none;
    padding: 0;
    height: auto;
    line-height: 1.6;
  }

  /* header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  
  .header .logo {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
  }
